<div class="app-page-title"  style="margin: 0px;">
    <div class="app-page-title"  style="margin: 0px; padding-bottom: 0px; padding-top: 0px;">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                
                <div>QUẢN LÝ NHÀ CUNG CẤP
                </div>
            </div>
              
         </div>
    </div>     
</div>
<div style="margin: 0 25px;" class="main-card mb-3 card">
    <div class="card-body">
        <table *ngIf="suppliers" style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên nhà cung cấp</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of suppliers; let a= index">
                <td>{{a+1}}</td>
                <td>{{i.supplieR_NAME}}</td>
                <td>{{i.supplieR_ADDRESS}}</td>
                <td>{{i.supplieR_PHONE}}</td>
                <td>
                    
                    <button class="mb-2 mr-2 btn btn-warning">Sửa<span class="badge badge-secondary badge-dot badge-dot-lg"> </span></button>
                    <button (click)="delete(i.supplieR_ID)" class="mb-2 mr-2 btn btn-danger">Xóa<span class="badge badge-secondary badge-dot badge-dot-lg"> </span></button>
                </td>
            </tr>
            
            </tbody>
            <tfoot>
            <tr>
                <th>STT</th>
                <th>Tên nhà cung cấp</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Hành động</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>