<div class="app-page-title"  style="margin: 0px;">
    <div class="app-page-title"  style="margin: 0px; padding-bottom: 0px; padding-top: 0px;">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                
                <div>QUẢN LÝ LOẠI SẢN PHẨM
                </div>
            </div>
              
         </div>
    </div>     
</div>
<div style="margin: 0 25px;" class="main-card mb-3 card">
    <div class="card-body">
        <p-tree   [value]="files">
            <ng-template let-node  pTemplate="default">
               <a style="color: black; margin-right: 500px;" href="">{{node.label}}</a>
               <button class="mb-2 mr-2 btn btn-warning">Sửa<span class="badge badge-secondary badge-dot badge-dot-lg"> </span></button>
               <button class="mb-2 mr-2 btn btn-danger" (click)="delete(node.key)">Xóa<span class="badge badge-secondary badge-dot badge-dot-lg"> </span></button>
            </ng-template>
        </p-tree>
    </div>
</div>

