<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
               
                <div>THỐNG KÊ</div>
                    
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                    class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-star">{{item.item_count}}</i>
                </button>
                
            </div>    
        </div>
    </div>      
      
    <div class="tabs-animation">
        
        
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div style="width: 230px; height: 310px;"
                    class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-success border-success">
                    <div class="widget-chat-wrapper-outer">
                        <div *ngIf="item" class="widget-chart-content pt-3 pl-3 pb-1">
                            <div class="widget-chart-flex">
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div class="fsize-4">
                                            <small class="opacity-5">Tổng số: </small>
                                            <span>{{item.item_count}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="widget-subheading mb-0 opacity-5">SẢN PHẨM</h3>
                        </div>
                        <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row">
                            <div class="col-md-9">
                                <div id="dashboard-sparklines-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div style="width: 230px; height: 310px;"
                    class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-primary border-primary">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content pt-3 pl-3 pb-1">
                            <div class="widget-chart-flex">
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div class="fsize-4">
                                            <small class="opacity-5">Tổng số: </small>
                                            <span>{{itemGroup.item_group_count}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="widget-subheading mb-0 opacity-5">LOẠI SẢN PHẨM</h3>
                        </div>
                        <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row">
                            <div class="col-md-9">
                                <div id="dashboard-sparklines-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div style="width: 230px; height: 310px;"
                    class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-warning border-warning">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content pt-3 pl-3 pb-1">
                            <div class="widget-chart-flex">
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div class="fsize-4">
                                            <small class="opacity-5">Tổng số: </small>
                                            <span>{{supplier.supplier_count}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="widget-subheading mb-0 opacity-5">NHÀ CUNG CẤP</h3>
                        </div>
                        <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row">
                            <div class="col-md-9">
                                <div id="dashboard-sparklines-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div style="width: 230px; height: 310px;"
                    class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-danger border-danger">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content pt-3 pl-3 pb-1">
                            <div class="widget-chart-flex">
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div class="fsize-4">
                                            <small class="opacity-5">Tổng số: </small>
                                            <span>{{order.order_count}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="widget-subheading mb-0 opacity-5">ĐƠN HÀNG</h3>
                        </div>
                        <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row">
                            <div class="col-md-9">
                                <div id="dashboard-sparklines-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>